.numero{
    width:400px;
    text-align: center;
}
.boton{
    width:100px;
    text-align: center;
}
.resultado{
    width:100px;
    height: 18px;
    border: 10px solid #2F6316;
    display:inline-block;
    text-align: right;
}